<html>
	<head>
		<title>ESP 32 CAM</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			var socket = io();
			socket.on('connect', function() {
				socket.send('a');
			})
			socket.on('message', function(msg) {
				var messageElement = document.getElementById('textid');
				messageElement.innerText = msg;
				socket.send('a');
			})
		</script>
	</head>
	<div class="headerDiv">
				<button id="textRecognizingBtn">Text recognition</button>
				<button id="fingerCountingBtn">Finger counting</button>
				<button id="fruitRecognizingBtn">Fruit recognition</button>
			</div>
	<body>
		<div class="mainDiv">
			<div class="container">
				<img class="videoStream" src="/video_feed" alt="Video Stream">
				<div class="resultDiv">
					<p class="result" id="textid"></p>
				</div>
			</div>
		</div>
	</body>
	<script>
		document.getElementById('textRecognizingBtn').addEventListener('click', function() {
			const dataToSend = { value: '1' };

			fetch('/switch_value', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(dataToSend)
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
			})
			.catch((error) => {
				console.error('Error:', error);
			});
		});
		document.getElementById('fingerCountingBtn').addEventListener('click', function() {
			const dataToSend = { value: '2' };

			fetch('/switch_value', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(dataToSend)
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
			})
			.catch((error) => {
				console.error('Error:', error);
			});
		});
		document.getElementById('fruitRecognizingBtn').addEventListener('click', function() {
			const dataToSend = { value: '3' };

			fetch('/switch_value', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(dataToSend)
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
			})
			.catch((error) => {
				console.error('Error:', error);
			});
		});
	</script>
</html>